/*General property*/

@font-face {
  font-family: "BreeSerif-Regular";
  src: url("fonts/BreeSerif-Regular.otf");
}
  /* flexbox align whole element in the page centered. You could control the perperty by every section's   padding-top property. default is 150px. */
.vertical-center  {
  min-height: 100%;
  min-height: 100vh;
  display: -ms-Flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.verticalcenter{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
}

/*nav property*/

.navbar-nav {
  float: right;
  margin: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(250, 155, 105, 0.83);
  background-color: transparent;
}


/*Intro property*/

#intro {
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#intro h1,
#intro small,
#intro h2 {
  font-family: "BreeSerif-Regular";
  font-weight: bold;
  color: #fff;
}
#intro h1 {
  font-size: 7rem;
}
#intro h2 {
  font-size: 2.5rem;
}
#intro header h2 span {
  font-size: 3.5rem;
  text-shadow: 1.5px 1.5px 2px rgba(255, 255, 255, 0.7);
}
#intro .direction {
  position: absolute;
  bottom: 10%;
  left: 47.5%
}
#intro .btn {
  background-color: transparent;
}
#intro .btn .glyphicon {
  font-size: 2rem;
  color: #fff;
}
.intro-section {
  padding-top: 0px;
}



/*about property*/

.about-section {
  background-color: #2e5e60;
  padding-top: 125px;
} 
blockquote {
  border-left: 0;
}
#about figure {
  margin-top: 20%;
}
#about img {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
#about h2 {
  font-family: "BreeSerif-Regular";
  font-weight: bold;
  color: rgba(203, 161, 139, 0.85);
}
#about .content p {
  font-family: "BreeSerif-Regular";
  font-size: 2rem;
  text-align: justify;
  color: rgba(255, 255, 255, 0.69);
}
#about .content p span {
  color: rgba(247, 130, 68, 0.9);
}
#about blockquote p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.85);
}
.about-section {
  padding-top: 0px;
}


/*skill property*/

.skill-section {
  background-image: url("../images/coding_bg_mod1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.skill-section {
  padding-top: 100px;
}
#skill .barcenter {
  float: none;
  display: block;
  margin: 0 auto;
}

#skill h4 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
#skill .choice h5 {
  font-size: 1.7rem;
  text-align: left;
  color: #fff;
  padding: 0px;
}
.six-sec-ease-in-out {
  -webkit-transition: width 6s ease-in-out;
  -moz-transition: width 6s ease-in-out;
  -ms-transition: width 6s ease-in-out;
  -o-transition: width 6s ease-in-out;
  transition: width 6s ease-in-out;
}
#skill img {
  max-width: 70%;
  margin: 0 auto;
}
#skill .skillitemrow {
  position: relative;
  margin-top: 4.5%;
}
#skill .choice {
  position: absolute;
  top: 0%;
  left: 25%;
}
.html5bar,
.html5bar .progress-bar,
.css3bar,
.css3bar .progress-bar,
.javascriptbar,
.javascriptbar .progress-bar,
.jquerybar,
.jquerybar .progress-bar,
.bootstrapbar,
.bootstrapbar .progress-bar {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px 1px rgba(255, 255, 255, 0.8);
}
#skill .progress-bar,
#skill .progress {
  border-radius: 20px;
}
.html5bar {
  background-color: rgba(209, 121, 57, 0.2);
}
.html5bar .progress-bar {
  background-color: rgba(209, 121, 57, 0.8);
}
.css3bar {
  background-color: rgba(38, 134, 195, 0.2);
}
.css3bar .progress-bar {
  background-color: rgba(38, 134, 195, 0.8);
}
.javascriptbar {
  background-color: rgba(199, 199, 51, 0.2);
}
.javascriptbar .progress-bar {
  background-color: rgba(199, 199, 51, 0.8);
}
.jquerybar {
  background-color: rgba(108, 121, 124, 0.2);
}
.jquerybar .progress-bar {
  background-color: rgba(108, 121, 124, 0.8);
}
.bootstrapbar {
  background-color: rgba(128, 62, 219, 0.2);
}
.bootstrapbar .progress-bar {
  background-color: rgba(128, 62, 219, 0.8);
}


/*contact perperty*/

.contact-section {
  background-image: url("../images/ZenBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#contact .container {
  margin-top: 0;
}
.contact-section {
  padding-top: 0px;
}
#contact h2,
#contact p {
  color: #fff;
}
#contact h2 {
  font-size: 6rem;
}
#contact p {
  font-size: 1.6rem;
}
#contact .social-info {
  margin-top: 4.3%;
}
#contact button a:hover {
  text-decoration: none;
}
#contact .btn {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 3px 3px 5px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px 1px rgba(255, 255, 255, 0.8);
}








/*media query*/

@media screen and (min-width: 481px) and (max-width: 992px) {
  #about .container {
    width: 100%;
  }
  #about .leftcolumn {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  #about figure {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  #about .rightcolumn {
    display: block;
    float: none;
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
  }
  #about article {
    width: 45%;
    float: none;
    display: block;
    margin: 0 auto;
  }
  blockquote {
    border-left: 0;
  }
  #about img {
    max-width: 45%;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }
  #about h2 {
    font-size: 2.2em;
    font-family: "BreeSerif-Regular";
    font-weight: bold;
    color: rgba(203, 161, 139, 0.85);
  }
  #about .content p {
    font-family: "BreeSerif-Regular";
    font-size: 1.8rem;
    text-align: justify;
    color: rgba(255, 255, 255, 0.69);
  }
  #about .content p span {
    color: rgba(247, 130, 68, 0.9);
  }
  #about blockquote p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.85);
  }
  .about-section {
    padding-top: 0px;
  }
  #skill img {
    max-width: 75%;
  }
  #skill .choice {
    position: absolute;
    top: -13%;
    left: 25%;
}
  
}


@media screen and (min-width: 321px) and (max-width: 480px) {
  
  /*intro secton*/
  
  #intro h1 {
    font-size: 4rem;
  }
  #intro h2 {
    font-size: 1rem;
  }
  #intro header h2 span {
    font-size: 2rem;
    text-shadow: 1.5px 1.5px 2px rgba(255, 255, 255, 0.7);
  }
  #intro .direction {
    left: 44%
  }
  .intro-section {
    padding-top: 0px;
  }
  
  
  /*about section*/
  
 #about .container {
    width: 100%;
  }
  #about .leftcolumn {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  #about figure {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  #about .rightcolumn {
    display: block;
    float: none;
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
  }
  #about article {
    width: 75%;
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  #about img {
    max-width: 40%;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.75);
  }
  #about h2 {
    font-family: "BreeSerif-Regular";
    font-size: 2rem;
    font-weight: bold;
    color: rgba(203, 161, 139, 0.85);
  }
  #about .content p {
    font-family: "BreeSerif-Regular";
    font-size: 1.5rem;
    text-align: justify;
    color: rgba(255, 255, 255, 0.69);
  }
  #about blockquote p {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.85);
  }
  #about blockquote {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  
  /*skill section*/
  
  .skill-section {
    padding-top: 0px;
  }
  #skill .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  #skill .choice {
    padding-left: 0px;
    width: 65%;
  }
  #skill .progress {
    height: 13px;
    margin-bottom: 0px;
  }
  #skill .progress-bar {
    font-size: 10px;
    line-height: 17px;
  }
  #skill h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
  }
  #skill .choice h5 {
    font-size: 1.2rem;
    text-align: left;
    color: #fff;
    padding: 0px;
    margin: 0px;
  }
  #skill img {
    max-width: 75%;
    margin: 0 auto;
  }
  #skill .skillitemrow {
    position: relative;
    margin-top: 7.5%;
  }
  #skill .choice {
    position: absolute;
    top: -8%;
    left: 25%;
  }
  
  /*contact section*/
  
  #contact h2 {
    font-size: 4rem;
  }
  #contact p {
    font-size: 1.2rem;
  }
  #contact .social-info {
    margin-top: 4.3%;
  }
}


@media screen and (max-width: 320px) {
  
  /*intro section*/
  
  #intro h1 {
    font-size: 3.5rem;
  }
  #intro h2 {
    font-size: 1rem;
  }
  #intro header h2 span {
    font-size: 1.8rem;
    text-shadow: 1.5px 1.5px 2px rgba(255, 255, 255, 0.7);
  }
  #intro .direction {
    left: 42.5%
  }
  
  /*about section*/
  
  
  #about .container {
    width: 100%;
  }
  #about .leftcolumn {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  #about figure {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  #about .rightcolumn {
    display: block;
    float: none;
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
  }
  #about article {
    width: 75%;
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  #about img {
    max-width: 40%;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 3px 0px rgba(50, 50, 50, 0.75);
  }
  #about h2 {
    font-family: "BreeSerif-Regular";
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(203, 161, 139, 0.85);
  }
  #about .content p {
    font-family: "BreeSerif-Regular";
    font-size: 1.3rem;
    text-align: justify;
    color: rgba(255, 255, 255, 0.69);
  }
  #about blockquote p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.85);
  }
  #about blockquote {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .about-section {
    padding-top: 50px;
  }
  
  /*skill section*/
  
  .skill-section {
    padding-top: 50px;
  }
  
  #skill .progress {
    height: 13px;
    margin-bottom: 0px;
    width: 90%;
  }
  #skill .progress-bar {
    font-size: 10px;
    line-height: 17px;
  }
  #skill h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
    text-align: left;
    padding-left: 10px;
  }
  #skill .choice h5 {
    font-size: 1.2rem;
    text-align: left;
    color: #fff;
    padding: 0px;
    margin: 0px;
  }
  #skill img {
    max-width: 75%;
    margin: 0 auto;
  }
  #skill .skillitemrow {
    position: relative;
    margin-top: 7.5%;
  }
  #skill .choice {
    position: absolute;
    top: 4%;
    left: 25%;
  }
  
/*  contact section*/
  
  #contact h2 {
    font-size: 3.5rem;
  }
  #contact p {
    font-size: 1.2rem;
  }
  #contact .social-info {
    margin-top: 4.3%;
  }
}